/modern-plant-classifier/backend/node_modules

/klasifikasi-tanaman/backend/node_modules
/klasifikasi-tanaman/backend/package-lock.json
/klasifikasi-tanaman/backend/package.json
/klasifikasi-tanaman/backend/package.json

.cursor/rules
.cursor/rules/mlrules.mdc